@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-blue);
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 20rem;
    width: 57rem;
    background-color: white;
    
}

main #drawers {
    height: 100%;
    width: 300px;  
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  
}

.text-column {
    display: flex;
    flex-direction: column;
    
    padding-right: 48px;
    padding-left: 40px;
}
.text-column h1{
    font-weight: bold;
    font-size: 21px;
    margin-top: 0;
}
.text-column p{
    margin-top: 0;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#avatar {
    height: 40px;
    width: auto;
    border-radius: 40px;
}

.contact-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-text {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    
}
.name{
    font-weight: 700;
    margin: 0;
}
.date{
    margin: 0;
}
.share-button{
    display: flex;
    background-color: var(--light-grayish-blue);
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
}
#share {
    height: 1rem;
    width: 1rem;
}
.icon-active{
    filter: brightness(0%) invert(100%);

}
.share-button:hover{
    cursor: pointer;
}
.button-active{
    background-color: var(--very-dark-grayish-blue);
    fill: white;
}
.alternate{
    width: 175px;
    position: absolute; 
    padding: 10px;
    top: -4.5rem;
    background-color: var(--very-dark-grayish-blue);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.alternate p{
    color: var(--grayish-blue);
    text-align: center;
    margin: 0;
}
.social-icon{
    height: 15px;
    width: auto;
}
.social-icon:hover{
    cursor: pointer;    
}
@media (max-width: 650px){
    main{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 25px;
        border-radius: 10px;
    }
    main #drawers {
        height: 200px;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    
    }
    .text-column{
        padding: 30px;
    }
    .text-column h1{
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
    }
    .text-column p{
        margin-right: 40px;
    }
    .contact{
        margin-top: 20px;
    }
    .alternate{
        width: 200px;
        height: 60px;
        position: absolute; 
        padding: 10px;  
        right: 70px;
        top: -15px;
        bottom: 15px;      
        background-color: var(--very-dark-grayish-blue);
        color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}